.about-me-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
  margin-left: 22px;
}

.projects-link {
  color: #000000;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
}

.projects-link:first-child {
  margin-right: 10px;
}
.projects-link-size {
  font-size: 17px;
}

.techno-span {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.projects-item {
  font-weight: 400;

  margin-bottom: 20px;
}
.project-name {
  font-weight: 600;
}
.projects-container {
  margin-bottom: 55px;
  /* margin-left: 22px; */
}

.projects-container__margin {
  margin-left: 22px;
}

.projectsType {
  color: #fb6d3a;
  margin-bottom: 5px;
}
